{%extends 'all-news/base.html'%}
{% block content %}

<div class="container">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <div class="row">
    {% if articles%}
    <h2>Found {{ articles|length }} of searched term {{message}}</h2>
    {% else %}
    <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  {% if articles %}
  {% for article in articles %}
  <div class="col-sm-6 col-md-3">
    <h1>{{article.title}}</h1>
    <img src="{{article.article_image.url}}" class="img-fluid" style="width: 500px;" alt="Image" data-toggle="modal"
      data-target="#exampleModal{{article.id}}">
    <p>{{article.post}}</p>
    <p>Posted {{article.pub_date|timesince}} by {{article.editor.first_name}}</p>

  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{article.id}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{article.article_image.url}}" class="img-fluid" alt="">
          <p>{{article.title}}</p>
          <p>{{article.post}}</p>
          <p>{{article.location}}</p>
        </div>
        <button class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Copy link</button>
        </button>
      </div>
    </div>
    </div>

{% endfor %}
{% endif %}
</div>
{% endblock %}